/* ==UserStyle==
@name           2048 Dark Mode
@namespace      https://github.com/tas367/UserStyles/2048
@version        1.0.0
@description    Darkmode for Neiunderscore version of 2048.
@author         tas367
==/UserStyle== */

@-moz-document url-prefix("https://2048.neiunderscore.com/") {
html, body {
  margin: 0;
  padding: 0;
  background: #111111;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }
}
.scores-container {
  float: right;
  text-align: right;
}
.score-container,
.best-container,
#timer {
  position: relative;
  display: inline-block;
  background: #242424;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}
.score-container:after,
.best-container:after,
#timer:after {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}
.timertile {
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  width: 42px;
  height: 42px;
  line-height: 42px;
  color: #ffffff;
  background: #191919;
  font-family: 'Clear Sans';
  float:left;
  margin-left:15px;
  margin-top: 9px;
}
