/* ==UserStyle==
@name           Flathub Dark Mode
@namespace      https://github.com/tas367/UserStyles/
@version        1.0.3
@description    Darkmode for Flathub
@author         tas367
==/UserStyle== */

@-moz-document domain("flathub.org") {
:root {
    --flathub-granite-gray: 0 0 13;
    --flathub-arsenic: 0 0 7;
    --flathub-dark-gunmetal: 0 0 0;
}
.bg-gray-500 {
    background-color: rgb(5 5 5/var(--tw-bg-opacity));
}
}
